/* (calendar)/@catalog/sectionCatalog.module.css */
.sectionCatalog {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
}

@media (min-width: 430px) {
  .sectionCatalog {
    max-width: 460px;
  }
}

@media (min-width: 724px) {
  .sectionCatalog {
    max-width: 979px;
  }
}

/* @media (min-width: 862px) {
  
} */

@media (min-width: 980px) {
  .sectionCatalog {
    max-width: 1084px;
  }
}

/* Десктопна версія */
@media (min-width: 1085px) {
  .sectionCatalog {
    max-width: 1200px;
  }
}
