/* .titleMonthPage {
    color: blue;
} */

.sectionTodayMoonday {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .sectionTodayMoonday {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .sectionTodayMoonday {
    max-width: 1200px;
  }
}
