.dayStyle {
  padding: 4px;
  font-size: 20px;
  flex-basis: calc(100% / 13);
}

.moonIcon {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 49%;
  font-size: 18px;
  font-weight: bold;
  color: rgb(253, 246, 216);
  text-shadow: 0 0 4px black;
  cursor: pointer;
}
/* Hover — легкий 3D‑нахил без сильного розмиття */
.activeDay {
  transform: scale(1.08);
  box-shadow:
    0 0 10px rgba(255, 255, 255, 0.7),
    inset 0 0 5px 1px rgba(255, 255, 255, 0.3);
}

.moonIcon:hover {
  transform: scale(1.12);
  box-shadow:
    0 0 8px rgba(255, 255, 255, 0.8),
    inset 0 0 4px 1px rgba(255, 255, 255, 0.2);
  font-size: 14px;

  /* transform:
    perspective(600px)
    rotateY(8deg)
    rotateX(4deg)
    scale(1.06);
  opacity: 0.97;
  filter:
    drop-shadow(0 0 6px rgba(255, 255, 255, 0.25))
    drop-shadow(0 0 2px rgba(255, 255, 255, 0.15)); */
}

/* М’яка інерція при поверненні */
.moonIcon:active,
.moonIcon:not(:hover) {
  transition:
    transform 0.75s cubic-bezier(0.16, 0.84, 0.44, 1),
    opacity 0.55s ease;
  /* filter 0.75s ease; */
}

/* Active — легке стискання */
/* .moonIcon:active {
  transform:
    perspective(600px)
    rotateY(4deg)
    rotateX(2deg)
    scale(0.97);
  opacity: 0.9;
  filter:
    drop-shadow(0 0 8px rgba(255, 255, 255, 0.3));
} */

/* @media (min-width: 460px) {
  .dayStyle {
    padding: 5px;
  }

  .moonIcon {
    width: 36px;
    height: 36px;
    font-size: 24px;
  }
} */

.day_1 {
  background-image: url("/image/MoonPhase/WebP160/day1.webp");
}
.day_2 {
  background-image: url("/image/MoonPhase/WebP160/day2.webp");
}
.day_3 {
  background-image: url("/image/MoonPhase/WebP160/day3.webp");
}
.day_4 {
  background-image: url("/image/MoonPhase/WebP160/day4.webp");
}
.day_5 {
  background-image: url("/image/MoonPhase/WebP160/day5.webp");
}
.day_6 {
  background-image: url("/image/MoonPhase/WebP160/day6.webp");
}
.day_7 {
  background-image: url("/image/MoonPhase/WebP160/day7.webp");
}
.day_8 {
  background-image: url("/image/MoonPhase/WebP160/day8.webp");
}
.day_9 {
  background-image: url("/image/MoonPhase/WebP160/day9.webp");
}
.day_10 {
  background-image: url("/image/MoonPhase/WebP160/day10.webp");
}
.day_11 {
  background-image: url("/image/MoonPhase/WebP160/day11.webp");
}
.day_12 {
  background-image: url("/image/MoonPhase/WebP160/day12.webp");
}
.day_13 {
  background-image: url("/image/MoonPhase/WebP160/day13.webp");
}
.day_14 {
  background-image: url("/image/MoonPhase/WebP160/day14.webp");
}
.day_15 {
  background-image: url("/image/MoonPhase/WebP160/day15.webp");
}
.day_16 {
  background-image: url("/image/MoonPhase/WebP160/day16.webp");
}
.day_17 {
  background-image: url("/image/MoonPhase/WebP160/day17.webp");
}
.day_18 {
  background-image: url("/image/MoonPhase/WebP160/day18.webp");
}
.day_19 {
  background-image: url("/image/MoonPhase/WebP160/day19.webp");
}
.day_20 {
  background-image: url("/image/MoonPhase/WebP160/day20.webp");
}
.day_21 {
  background-image: url("/image/MoonPhase/WebP160/day21.webp");
}
.day_22 {
  background-image: url("/image/MoonPhase/WebP160/day22.webp");
}
.day_23 {
  background-image: url("/image/MoonPhase/WebP160/day23.webp");
}
.day_24 {
  background-image: url("/image/MoonPhase/WebP160/day24.webp");
}
.day_25 {
  background-image: url("/image/MoonPhase/WebP160/day25.webp");
}
.day_26 {
  background-image: url("/image/MoonPhase/WebP160/day26.webp");
}
.day_27 {
  background-image: url("/image/MoonPhase/WebP160/day27.webp");
}
.day_28 {
  background-image: url("/image/MoonPhase/WebP160/day28.webp");
}
.day_29 {
  background-image: url("/image/MoonPhase/WebP160/day29.webp");
}
.day_30 {
  background-image: url("/image/MoonPhase/WebP160/day30.webp");
}

.moondayList {
  /* display: flex;
    flex-direction: column;
    align-items: center; */
  background-color: rgb(0, 16, 39);
  color: #cfd8ff;
  /* width: 1200px;
    margin: 0 auto; */
}
.textMoodayList {
  margin: 0 auto;
  width: 100px;
}
.daysList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: 724px) {
  .dayStyle {
    padding: 3px;
    font-size: 12px;
    flex-basis: calc(100% / 18);
  }

  .moonIcon {
    width: 28px;
    height: 28px;
    font-size: 16px;
  }

  .moonIcon:hover {
    font-size: 18px;
  }

  .daysList {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 980px) {
  .dayStyle {
    padding: 2px;
    font-size: 16px;
    flex-basis: 0;
  }

  .moonIcon {
    width: 26px;
    height: 26px;
  }

  .moonIcon:hover {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .dayStyle {
    padding: 4px;
    font-size: 16px;
    flex-basis: 0;
  }

  .moonIcon {
    width: 28px;
    height: 28px;
  }

  .moonIcon:hover {
    font-size: 18px;
  }

  .daysList {
    display: flex;
    flex-wrap: nowrap;
  }
}
