.sectionSearchRsult {
  width: 460px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .sectionSearchRsult {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .sectionSearchRsult {
    width: 1200px;
  }
}
