.pageSectionMeditation {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
}

@media (min-width: 724px) {
  .pageSectionMeditation {
    max-width: 979px;
  }
}

@media (min-width: 980px) {
  .pageSectionMeditation {
    max-width: 1084px;
  }
}
@media (min-width: 1085px) {
  .pageSectionMeditation {
    max-width: 1200px;
  }
}
