.containerToday {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  background-color: #003c9149;
  color: azure;
  text-shadow: 0 0 4px black;
  padding: 32px 16px;
  border: darkgray solid 2px;
  border-radius: 50px;
  margin: 16px 0;
}

.homeHeader {
  display: flex;
  flex-direction: column;
}
/* .moonHeader {
    
} */

.textHomeHeader {
  margin-bottom: 5px;
}

.titleHead {
  margin-bottom: 32px;
}
.titleBlock {
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-shadow: 0 0 4px black;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: #28436c49 solid 4px;
  border-radius: 10px;
}

.underTitleMoonToday {
  margin-bottom: 16px;
}

.textMoonToday {
  font-size: 24px;
  margin-bottom: 16px;
  letter-spacing: 1px;
  line-height: 140%;
}

.alignJustify {
  text-align: justify;
  text-justify: inter-word;
}

.itemBlockSimbol {
  width: 100%;
  box-shadow: 1px 3px 8px 4px rgba(238, 239, 247, 0.459);
  border-radius: 10px;
  padding: 8px 25px;
  margin: 8px 0;
}

.blockSign {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 20px 2px rgba(238, 239, 247, 0.459);
  border-radius: 10px;
  gap: 18px;
}
.itemBlockSign {
  width: auto;
  box-shadow: inset 0px 1px 4px 1px rgba(238, 239, 247, 0.459);
  border-radius: 10px;
  padding: 8px 12px;
}

.goodSign {
  color: #b8f9b8;
  text-shadow: 0 0 18px #000000;
}
.badSign {
  color: #ffb1b1;
  text-shadow: 0 0 18px #000000;
}

.contImageMoonPhase {
  padding: 20px;
  margin: 0 auto;
}
.imageMoonPhase {
  position: absolute;
  filter: drop-shadow(0 0 130px #75b4fc);
  mix-blend-mode: luminosity;
}
.effectMoon {
  position: relative;
  width: 157px;
  height: 156px;
  border-radius: 50%;
  pointer-events: none; /* щоб ефект не блокував кліки */

  inset: 2px 0px 0px 2px;
  background: #132f59; /* або будь-який інший ефект */
  mix-blend-mode: lighten;
}
.listBlockSimbol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
  column-gap: 16px;
  align-items: center;
}
/* 
.containerAspekt {
  display: flex;
  flex-direction: column;
} */

.containerListAspect {
  margin-bottom: 24px;
  padding-right: 16px;
  list-style: none;
  border-right: 1px solid #dee2fd2e;
  border-radius: 10px;
}

/* .containerHealth {
  display: flex;
  flex-direction: column;
} */
/* 
.listHealth {
  display: flex;
  flex-direction: row;
} */

/* ------  */

.containerToday {
  /* display: flex;
  flex-direction: column;
  color: azure;
  text-shadow: 0 0 4px black;
  padding: 32px 60px;
  border: solid 2px white;
  margin: 16px 0;
  border-radius: 50px; */
  background-color: #021e48;
}

.innerContainer {
  margin-bottom: 32px;
  border-radius: 10px;
  box-shadow: 1px 3px 9px 1px #eeeff775;
  background-color: #001c46;
}
.moonCards {
  padding: 8px 0;
}

.containerDreams {
  border-radius: 10px;
  padding: 8px 30px;
  box-shadow: inset 0 1px 4px 1px #eeeff775;
}
.containerMeditations {
  width: 100%;
  border-radius: 10px;
  padding: 8px 30px;
  box-shadow: inset 0 1px 4px 1px #eeeff775;
}

.extendedMeaning {
  text-align: justify;
  text-justify: inter-word;
}
/* .containerLifeAspect {
  
} */

.containerMedication {
  border-radius: 10px;
  padding: 8px 30px;
  box-shadow: inset 0 1px 4px 1px #eeeff775;
}
.titleTodayMoonday {
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-shadow: 0 0 4px black;
  padding-bottom: 8px;
  margin-bottom: 12px;
  text-align: center;
  border-bottom: #28436c49 solid 4px;
  border-radius: 10px;
}

.underTitleMoonday {
  margin-bottom: 12px;
}
.textTodayMoonday {
  font-size: 24px;
  margin-bottom: 16px;
  letter-spacing: 1px;
  line-height: 140%;
  text-align: justify;
  text-justify: inter-word;
}

.containerBirth {
  border-radius: 10px;
  padding: 8px 30px;
  box-shadow: inset 0 1px 4px 1px #eeeff775;
}
.containerLifeAspect {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.containerHaircut {
  border-radius: 10px;
  padding: 8px 30px;
  box-shadow: inset 0 1px 4px 1px #eeeff775;
}

.listHeircut {
  display: flex;
}

.listMoondayOne {
  display: flex;
  flex-direction: row;
}

/* .moonCalendar {
} */
/* .tibetanCalendar {
} */

.containerHealth {
  display: flex;
  flex-direction: column;
}

.listHealth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
}

.generalHealth {
  border-radius: 10px;
  padding: 8px 30px;
  box-shadow: inset 0 1px 4px 1px #eeeff775;
}

.vulnerableBodyPartHealth {
  border-radius: 10px;
  padding: 8px 30px;
  box-shadow: inset 0 1px 4px 1px #eeeff775;
}

.sectionAspekt {
  display: flex;
  flex-direction: column;
}

.containerAspect {
  display: flex;
  flex-direction: column;
}

.containerFilters {
  padding-bottom: 16px;
  flex-shrink: 0;
}

.filterButtons {
  background: transparent;
}

.buttonShowAll {
  background: #4a6cf7;
  border: transparent;
  border-radius: 5px;
  color: #cfd8ff;
  padding: 8px 14px;
  margin: 8px 0;
  font-size: 24px;
  font-weight: 400;
}

.buttonShowAll:hover {
  background: #2751f8;
}
.containerListAspect {
  padding-right: 16px;
  list-style: none;
  border-right: 1px solid #dee2fd2e;
  border-radius: 10px;
}

.accordionGroupButtonShow {
  margin-bottom: 30px;
}

.accordionGroupItem {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.accordionHeader {
  width: 100%;
  background: transparent;
  border-radius: 8px;
  border: none;
  padding: 10px 8px;
  font-family: var(--font-comfortaa);
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: azure;
  box-shadow: inset 0 1px 4px 1px #eeeff775;
  transition: all 0.25s ease;
}

.accordionHeader.open {
  color: azure;
  background-color: #001c46;
  border-radius: 8px;
  padding: 12px 10px;

  box-shadow:
    1px 3px 8px 4px #eeeff775,
    inset 0 1px 4px 1px #eeeff775;
  margin-top: 16px;
}
/* 
.accordionHeader.active {
  
} */

.arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(45deg);
  transition: transform 0.25s ease;
  opacity: 0.8;
}

.accordionHeader.open .arrow {
  transform: rotate(-135deg);
}

/* .accordionHeader.open .accordionGroup {
  
} */

.accordionHeader:hover {
  font-weight: 600;
  background: rgba(74, 109, 247, 0.281);
}

.accordionHeader:active {
  transform: scale(0.98);
  opacity: 0.9;
}

.accordionHeader.active {
  font-size: 26px;
  font-weight: 700;
  color: #cfd8ff;
  background-color: #1a3259;
  box-shadow: 1px 0px 6px 2px #b3c3f5;
}

.accordionContent {
  padding: 10px 0 10px 12px;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 8px;
  background-color: #1a3259;
  box-shadow:
    0px 6px 10px 1px #eeeff775,
    inset 0 0px 3px -1px #eeeff775;
}

/* .checkboxItem {
 
} */

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.checkboxLabel input {
  display: none;
}

/* .checkboxItem input[type="checkbox"] {
 
} */

/* Кнопка-чипс */
.checkboxItem span {
  padding: 8px;
  border-radius: 8px;
  background: #f2f2f2;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #8d8c8c;
  font-size: 22px;
  font-weight: 700;
  user-select: none;
  text-shadow: 0 0 black;
}

/* Hover */
.checkboxItem span:hover {
  background: #e8e8e8;
  color: #4a6cf7;
}

/* Активний стан */
.checkboxItem input[type="checkbox"]:checked + span {
  background: #4a6cf7;
  color: white;
  border-color: #4a6cf7;
  box-shadow: 0 0 0 2px rgba(74, 108, 247, 0.25);
}

/* Адаптивність */
/* @media (max-width: 480px) {
  .checkboxItem span {
    
  }
} */

.selectedAspects {
  font-size: 22px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 14px;
  align-content: flex-start;
  border-left: 1px solid #dee2fd2e;
  border-radius: 10px;
}

.containerItemAspect {
  flex: 1 1 calc((100% - 40px) / 3);
  box-sizing: border-box;
  border-radius: 16px;
  background-color: rgba(145, 149, 171, 0.169);
  box-shadow: 0px 1px 5px 2px rgba(238, 239, 247, 0.459);
}

.itemAspect {
  display: flex;
  flex-direction: column;
  height: stretch;
  justify-content: space-between;
}
.titleAspect {
  background-color: #4a6cf730;
  border-radius: 16px;
  padding: 12px 0;
  font-size: 24px;
  text-align: center;
}
.textAspect,
.levelAspect {
  padding: 16px;
}

@media (min-width: 768px) {
  .containerToday {
    padding: 32px 25px;
  }
  .homeHeader {
    display: flex;
    flex-direction: row;
  }
  .listBlockSimbol {
    display: flex;
    justify-content: space-around;
    /* align-items: normal; */
  }

  .blockSign {
    display: flex;
    flex-direction: row;
  }
  .itemBlockSign {
    width: 438px;
    padding: 8px 30px;
  }
  .containerLifeAspect {
    display: flex;
    flex-direction: row;
  }
  .listHealth {
    display: flex;
    flex-direction: row;
  }
  .containerAspect {
    display: flex;
    flex-direction: row;
  }
  .containerFilters {
    width: 294px;
  }
}

@media (min-width: 1200px) {
  .containerToday {
    font-size: 16px;
    padding: 32px 60px;
  }
  /* .homeHeader {
  display: flex;
  flex-direction: column;
} */

  .textMoonToday {
    font-size: 16px;
  }
  .textTodayMoonday {
    font-size: 16px;
  }

  .itemBlockSimbol {
    width: auto;
    max-width: 250px;
  }
  .listBlockSimbol {
    display: flex;
    flex-wrap: nowrap;

    align-items: normal;
  }
  .containerLifeAspect {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .containerBirth {
    max-width: 410px;
  }
  .containerMeditations {
    width: auto;
  }
  .containerHaircut {
    max-width: 600px;
  }
  .buttonShowAll {
    font-size: 16px;
  }
  .accordionHeader {
    font-size: 16px;
  }
  .accordionHeader.active {
    font-size: 17px;
  }
  .checkboxItem span {
    font-size: 15px;
  }
  .containerListAspect {
    margin-bottom: auto;
  }
  .titleAspect {
    font-size: 16px;
  }
  .accordionGroupButtonShow {
    margin-bottom: auto;
  }
  .selectedAspects {
    font-size: 16px;
  }
}
