.main {
  /* display: flex; */
  /* padding: 0 60px; */
  background-color: #001027;
}
.sectionHome {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
}

.moondayList {
  display: flex;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (min-width: 768px) {
  .sectionHome {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .sectionHome {
    max-width: 1200px;
  }
}

/* @media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

} */
