.sectionMoondayDetails {
  width: 460px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .sectionMoondayDetails {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .sectionMoondayDetails {
    width: 1200px;
  }
}
/* .containerToday {
    display: flex;
    flex-direction: column;
}
.listMoondayOne {
    display: flex;
    flex-direction: row;
}

.containerAspekt {
    display: flex;
    flex-direction: column;
}

.containerListAspect {
    display: flex;
    flex-direction: row;
}

.containerHealth {
    display: flex;
    flex-direction: column;
}

.listHealth {
    display: flex;
    flex-direction: row;
} */
