.sectionMoondayDetails {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
}

@media (min-width: 724px) {
  .sectionMoondayDetails {
    max-width: 979px;
  }
}

@media (min-width: 980px) {
  .sectionMoondayDetails {
    max-width: 1084px;
  }
}

@media (min-width: 1085px) {
  .sectionMoondayDetails {
    max-width: 1200px;
  }
}
/* .containerToday {
    display: flex;
    flex-direction: column;
}
.listMoondayOne {
    display: flex;
    flex-direction: row;
}

.containerAspekt {
    display: flex;
    flex-direction: column;
}

.containerListAspect {
    display: flex;
    flex-direction: row;
}

.containerHealth {
    display: flex;
    flex-direction: column;
}

.listHealth {
    display: flex;
    flex-direction: row;
} */
