.titleLuckydaySearch {
  font-size: 28px;
  text-align: center;
}
.sectionLuckyMoonDay {
  width: 460px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .sectionLuckyMoonDay {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .sectionLuckyMoonDay {
    width: 1200px;
  }
}
